{% extends "base.html.twig" %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.1/cjs/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.1/cjs/react-dom-server.browser.development.js"></script>
    <script src="js/app.js"></script>
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}
